In [7]:
import duckdb
import pandas as pd
import os
from datetime import datetime

In [8]:
con = duckdb.connect(database='dados_duckdb.db', read_only=False)

In [15]:
arquivo = 'z0019_2.csv'
data_ingestao = datetime.now()
df = pd.read_csv(f'../landing/{arquivo}', sep=';')
df['nome_arquivo'] = arquivo
df['data_ingestão'] = data_ingestao
df.head()

   NATBR    MAKTX WERKS  MAINS  LABST nome_arquivo              data_ingestão
0  10004    SERRA  BT50    100    200  z0019_2.csv 2025-03-16 10:45:55.091950
1  10005  MACHADO  BT50    100    100  z0019_2.csv 2025-03-16 10:45:55.091950
2  10003    PREGO  BT10    100     60  z0019_2.csv 2025-03-16 10:45:55.091950

In [16]:
con.execute("""
    CREATE TABLE IF NOT EXISTS bronze_produtos(
        NATBR VARCHAR,
        MAKTX VARCHAR,
        WERKS VARCHAR,
        MAINS VARCHAR,
        LABST VARCHAR,
        nome_arquivo VARCHAR,
        data_ingestao TIMESTAMP,
    )
""")

In [17]:
con.execute("INSERT INTO bronze_produtos SELECT * FROM df")

In [21]:
resultado = con.execute("SELECT * from bronze_z0019").fetchdf()
print(resultado)

   NATBR     MAKTX WERKS MAINS LABST nome_arquivo              data_ingestao
0  10001  PARAFUSO  BT10   100   100  z0019_1.csv 2025-03-16 10:37:25.116314
1  10002   MARTELO  BT50   100  1500  z0019_1.csv 2025-03-16 10:37:25.116314
2  10003     PREGO  BT10   100    50  z0019_1.csv 2025-03-16 10:37:25.116314
3  10004     SERRA  BT50   100   200  z0019_2.csv 2025-03-16 10:45:55.091950
4  10005   MACHADO  BT50   100   100  z0019_2.csv 2025-03-16 10:45:55.091950
5  10003     PREGO  BT10   100    60  z0019_2.csv 2025-03-16 10:45:55.091950

In [19]:
con.execute("ALTER TABLE bronze_produtos RENAME to bronze_z0019")

In [23]:
con.close()